{% extends "layout.html" %}

{% block contents %}
<h2>Roster</h2>

<table class="roster table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Sober Streak</th>
			<th>Awards</th>
			<th>At Risk</th>
		</tr>
	</thead>
	<tbody>
		{% for member in members %}
		<tr>
			<td class="h-card">
				<span class="p-nickname">{{ member.handle }}</span>
				<a href="{{ member.handle }}.html" class="p-name embedabble">
					{{ member.name }}
				</a>
			</td>
			<td>{{ member.sobriety }}</td>
			<td class="awards">{{ member.awards }}</td>
			<td><input type="checkbox"{{ " checked" if member.atRisk }} disabled></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
